#################
# ENVIRONMENTAL #
#################
HTTP_PROXY=
HTTPS_PROXY=
VERIFY_SSL=

##############
# FLASHPOINT #
##############
FLASHPOINT_API_KEY=

##################
# IPQUALITYSCORE #
##################
IPQS_API_KEY=

########
# SPUR #
########
SPUR_API_KEY=

############
# SPYCLOUD #
############
SPYCLOUD_API_ATO_KEY=
SPYCLOUD_API_INV_KEY=
SPYCLOUD_API_SIP_KEY=

###########
# TWILIO #
###########
TWILIO_ACCOUNT_SID=
TWILIO_API_SID=
TWILIO_API_SECRET=

#########
# MYSQL #
#########
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

###########
# URLSCAN #
###########
URLSCAN_API_KEY=

#####################################
# Dev testing environment variables #
#####################################
MONGO_URI=localhost:27017
MONGO_DB=test
MONGO_COLLECTION=example
MONGO_USER=root
MONGO_PASS=admin123

ES_HOST=http://localhost:9200
ES_INDEX=test-index
ES_USER=elastic
ES_PASS=admin123

SPLUNK_HOST=localhost
SPLUNK_PORT=8089
SPLUNK_USER=admin
SPLUNK_PASS=admin123
SPLUNK_VERIFY_SSL=false

PSQL_DSN=DSN=PostgresLocal;
PSQL_USER=testuser
PSQL_PASS=testpass
PSQL_DB=test_db

TRINO_HOST=localhost
TRINO_USER=youruser
TRINO_PORT=8080
#optional
TRINO_CATALOG=test
TRINO_SCHEMA=test
TRINO_PASS=yourpassword
